
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 70%;
    /* border: 3px solid white; */
    /* border-radius: 50px; */
    padding: -1px;

}

.navbar{
    display: flex;
    /* background: rgba(0, 00, 0, 0.7) url(../chin.jpg); */
    background-color:white;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}    
.nav-list{
    width: 70%;
    
    display: flex;
    align-items: center;
}


.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Proxima Nova Condensed","Proxima Nova Condensed Fallback",sans-serif;
    font-weight: bold;
}


.nav-list li a:hover{
    text-decoration: none;
    color: grey;
    background-color: solid white;
}

.rightNav{
 
    width: 30%;
    text-align: right;
    padding: 40px 40px;
}

#search
{
padding: 5px;
font-size: 17px;
border: 2px solid grey;
border-radius: 9px;
}


.background{
    background:  url('../IMG/chin.jpg');
  
    /* background-color: black; */
    background-size: cover;
    background-blend-mode: darken;
}

.background-navbar{
    /* background-image: url(../IMG/); */
    background-color: white;
    height: 70px;
}


.firstSection{
    height: 100vh;

}

.box-main{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstHalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 80%;

}
.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;

}

.text-big{
    
    font-size: 41px;
    
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 30px;
    margin: 7px 3px;
    border: 2px solid black;
    border-radius: 8px;
    background: solid white; 
    color: black;
    cursor: pointer;
    /* font-family: 'Pacifico', cursive; */

}
.btn:hover{
    text-decoration: none;
    color: white;
    background-color: grey;
}


.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-dark{
    color: black;
    border: 2px solid grey; 
    

}
.btn-dark:hover{
    
    border: 2px solid black; 
    

}

.section{
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    padding: 10px;


}
.section-left{
    flex-direction: row-reverse;

}
.paras{
    padding: 0px 65px;
}

.sectionSubTag{
    font-family: 'Oswald', sans-serif;
}

.thumbnail img{
    width: 500px;
    border: 2px solid black;
}
.contact{
    background-color: #d9d1d1;
    height: 90vh;
}
.text-center{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
}

.form{
    max-width: 62%;
    margin: auto;
}
.form-input{
    margin: 30px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}

.text-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
    
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

@media only screen and (max-width: 1140px)
{
    .nav-list{
        flex-direction: column;    
    }
    .navbar{
        flex-direction: column;
        transition: all 0.5s ease-out;
        height: 500px;
        
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{    
        display:block;
        
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .h-nav-resp{
        height: 72px;
    

    }
    .v-class-resp{
        opacity: 0;

    }
    .section{
        flex-direction: column-reverse;

    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px ;
    }
}
